body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f8f8f8;
}

#Container {
  width: 375px;
  height: 812px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* 중앙 정렬 */
  margin: 0 auto;
  border: 1px solid var(--Gray-Primary, #d9d9d9);
  max-height: 100vh;
}

header {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header .time {
  margin-left: 48.55px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 1;
}

main {
  font-family: 'Pretendard', sans-serif;

  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.logo {
  /*
    width: 157px;
    height: 32px;
    */
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.32px;
  text-align: center;
  margin-top: 24px;
}

.title {
  padding-left: 23px;
  margin-top: 24px;
}

.title h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #3F3F3F;
  text-align: left;
  margin: 0 0 4px 0;
}

.title p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #3F3F3F;
  text-align: left;
  margin: 0;
  margin-bottom: 36px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  row-gap: 25px;
  padding: 0 29px 0 31px;
  margin-top: 36px;
  justify-content: flex-start;
  margin-bottom: 30.17px;
  transition: all 0.3s ease;
}

.tag {
  font-size: 13px;
  font-weight: 400;
  color: #3F3F3F;
  background-color: #D9D9D9;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  flex-shrink: 0;
  position: relative;
}

.submit_btn {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.submit_btn button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  border-radius: 20px;
  background-color: #D9D9D9;
  margin-top: 35px;
  cursor: pointer;
}

.tag.selected {
  background-color: #595959;
  color: white;
  padding-left: 32px;
  position: relative;
}

.tag.selected::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('../img/check.svg');
  background-size: cover;
  background-repeat: no-repeat;
}